.signin-signup-dialog-box {
  background-color: var(--light);
  width: min(90%, 430px);
  min-height: 490px;
  max-height: 560px;
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  display: none;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.signin-signup-dialog-box.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  pointer-events: auto;
}

.signin-signup-dialog-box h2 {
  font-size: var(--font-lg);
  color: var(--light-dark);
}

.signin-signup-dialog-box p {
  font-size: var(--font-sm);
  color: var(--text-dark-gray);
  margin: 20px 0;
}

.signin-signup-dialog-box p span {
  cursor: pointer;
}

.signin-signup-dialog-box h2,
.signin-signup-dialog-box p {
  text-align: center;
}

.login-section .input-box {
  margin-bottom: 20px;
}

.signup-section .input-box {
  margin-bottom: 20px;
}

.signin-signup-dialog-box input {
  border: none;
  border: 1px solid var(--light-gray);
  color: var(--light-dark);
  outline: none;
  padding: 14px 10px;
  width: 100%;
  border-radius: 10px;
}

.signin-signup-dialog-boxinput::placeholder {
  color: var(--light-dark);
  opacity: 0.7;
  font-size: var(--font-sm);
}

.signin-signup-dialog-boxinput:focus {
  border: 1px solid var(--primary-color);
}

.signin-signup-dialog-box .login-footer {
  display: grid;
  place-content: center;
}

.signin-signup-dialog-box.login-footer button {
  margin-bottom: 20px;
}

.signin-signup-dialog-box.login-footer #toggle-login,
.signin-signup-dialog-box.login-footer #toggle-signup {
  cursor: pointer;
  transition: 0.1s;
}

#toggle-login:hover,
#toggle-signup:hover {
  border-bottom: 2px solid var(--primary-color);
}

.or {
  text-align: center;
}

.sign-up-with {
  display: grid;
  place-content: center;
}

.sign-up-with .media-login-box a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
  color: var(--para-color);
}

.login-section {
  display: block;
}

.signup-section {
  display: none;
}

.signin-signup-dialog-box img {
  width: 100%;
  height: 180px;
}

@media screen {
  .signin-signup-dialog-box img {
    width: 100%;
    height: 140px;
  }
}